#cloud-config
timezone: Asia/Seoul
locale: ko_KR.UTF-8
manage_etc_hosts: False
groups:
  - clex
users:
  - default
  - name: clex
    gecos: CloudX user
    primary_group: clex
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ public_key }}
bootcmd:
  - DEBIAN_FRONTEND=noninteractive apt-get -q=2 update
  - DEBIAN_FRONTEND=noninteractive apt-get -q=2 install gnupg
  - echo "ko_KR.UTF-8 UTF-8" > /etc/locale.gen
apt:
  preseve_sources_list: false
  primary:
  - arches:
    - amd64
    uri: http://ftp.kr.debian.org/debian
  security:
  - arches:
    - amd64
    uri: http://security.debian.org/debian-security
  sources_list: |
    deb $PRIMARY $RELEASE main
    deb $PRIMARY $RELEASE-updates main
    deb $SECURITY $RELEASE-security main
packages:
  - curl
  - gpg
  - lsb-release
package_update: true
write_files:
- path: /etc/hosts
  content: |
    {{ etchosts | indent(width=4) }}
  permissions: 0644
- path: /root/post_run.sh
  content: |
    {{ post_run | indent(width=4) }}
  permissions: 0755
- path: /root/push_images.sh
  content: |
    {{ push_images | indent(width=4) }}
  permissions: 0755
runcmd:
  - /root/post_run.sh
  - /root/push_images.sh
  - touch /tmp/i_am_ready
  - systemctl disable cloud-init
